<div class="container white">
  <app-navbar-main></app-navbar-main>
  <div class="row">
    <div class="col s12 m4">
      <ul class="collection with-header">
        <li class="collection-header grey" *ngIf="user && user.partners" >
          <h6>Compañeros ({{ user.partners.length }})</h6>
        </li>
        <div class="overflow" *ngIf="user && user.partners" >
          <ng-container *ngFor="let friend of user.partners; let i = index;">
            <app-list-partners [uid]="friend" ></app-list-partners>
          </ng-container>
        </div>
      </ul>
    </div>
    <div class="col s12 m8">
      
    </div>
  </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light red" (click)="openServiceModal()" ><i class="material-icons">person_add</i></a>
</div>