/* You can add global styles to this file, and also import other style files */

.margin-top-div {
    margin-top: 3%;
}

.overflow {
    height: 73vh;
    overflow: auto;
}

.notification {
    margin-left: -3vh;
    margin-bottom: 40px;
    background-color: grey;
    font-size: 12px;
    color: white;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.border-test {
    border: 1px solid black;
}

.bg-chat {
    background-color: #f0e9e9;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #6200ea;
    border: 0px none #6200ea;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background:#311b92;
}

::-webkit-scrollbar-thumb:active {
    background: #311b92;
}

::-webkit-scrollbar-track {
    background: #e3e3e3;
    border: 0px none #e3e3e3;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #e3e3e3;
}

::-webkit-scrollbar-track:active {
    background: #e3e3e3;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

body {
    SCROLLBAR-FACE-COLOR:red;
    SCROLLBAR-HIGHLIGHT-COLOR: brown;
    SCROLLBAR-SHADOW-COLOR: #6699CC;
    SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
    SCROLLBAR-ARROW-COLOR: #FFFFFF;
    SCROLLBAR-TRACK-COLOR: #E3E3E3;
    SCROLLBAR-DARKSHADOW-COLOR: #000000;
}