<mz-sidenav #sidenavProfile [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'">
  <mz-sidenav-header>
      <li>
        <div class="user-view">
          <div class="background" style="background-color: #333!important;" >
          </div>
          <a href="#user"><img class="circle" src="assets/sidenav-demo-avatar.png"></a>
          <a href="#name"><span class="white-text name">Nombre de usuario</span></a>
          <a href="#email"><span class="white-text email">correo@usuario.com</span></a>
        </div>
      </li>
  </mz-sidenav-header>
  <mz-sidenav-subheader>Perfil</mz-sidenav-subheader>
  <mz-sidenav-link>
    <a [routerLink]="'/'" (click)="sidenavProfile.opened = !sidenavProfile.opened" >Datos<i class="material-icons right">person</i></a>
  </mz-sidenav-link>
  <mz-sidenav-link [active]="true">
    <a [routerLink]="'/'" (click)="sidenavProfile.opened = !sidenavProfile.opened" >Configuración<i class="material-icons right">settings</i></a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link>
    <a class="waves-effect" >Salir<i class="material-icons right">exit_to_app</i></a>
  </mz-sidenav-link>
</mz-sidenav>