<!-- <mz-dropdown
  [id]="'dropdown-demo'"
  [align]="'left'"
  [belowOrigin]="false"
  [constrainWidth]="true"
  [dropdownButtonId]="'btn-dropdown-demo'"
  [gutter]="true"
  [hover]="true"
  [inDuration]="300"
  [outDuration]="300"
  [stopPropagation]="true"
>
  <mz-dropdown-item><a href="#!">One</a></mz-dropdown-item>
  <mz-dropdown-item><a href="#!">Two</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a href="#!">Three</a></mz-dropdown-item>
</mz-dropdown> -->

<mz-navbar navbarClass="orange darken-2" >
  <mz-navbar-item-container [align]="'left'" >
      <mz-navbar-item >
        <a id="btn-sidenav-mobile" ><i class="material-icons">dehaze</i></a>
      </mz-navbar-item>
      <mz-navbar-item >
          <a [routerLink]="'/'" >AULA</a>
        </mz-navbar-item>
    </mz-navbar-item-container>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item>
      <a [routerLink]="'/'" >Clases<i class="material-icons right">local_library</i></a>
    </mz-navbar-item>
    <mz-navbar-item *ngIf="smallResolution | async">
      <a [routerLink]="'/dashboard'" ><i class="material-icons left">inbox</i><span class="notification">4</span></a>
    </mz-navbar-item>
    <mz-navbar-item>
      <a [routerLink]="'/'" ><i class="material-icons left">notifications</i><span class="notification">40</span></a>
    </mz-navbar-item>
    <!-- <mz-navbar-item><a routerLink="/login" >Login<i class="material-icons right">arrow_drop_down</i></a></mz-navbar-item> -->
    <!-- <mz-navbar-item><a id="btn-dropdown-demo" >Login<i class="material-icons right">arrow_drop_down</i></a></mz-navbar-item> -->
    <mz-navbar-item>
      <a id="btn-sidenav-demo" ><i class="material-icons">account_box</i></a>
    </mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>